@if (kpis(); as data) {
    <div class="kpi-grid">
        <mat-card class="kpi-card">
            <mat-card-header>
                <mat-card-subtitle>INVESTED CAPITAL</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                @if (hideAbsoluteValues()) {
                    <app-obfuscated-kpi></app-obfuscated-kpi>
                } @else {
                    <div class="kpi-value-container">
                        <span class="kpi-value">{{ data.investedCapital | fyCurrency:currency() }}</span>

                        <span class="kpi-sub-value">
                            SINCE {{ dataRanges().firstDateInDataRange | fyDate }}
                        </span>
                    </div>
                }
            </mat-card-content>
        </mat-card>

        <mat-card class="kpi-card">
            <mat-card-header>
                <mat-card-subtitle>ABSOLUTE DEPOT VALUE</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                @if (hideAbsoluteValues()) {
                    <app-obfuscated-kpi></app-obfuscated-kpi>
                } @else {
                    <div class="kpi-value-container">
                        <span class="kpi-value">{{ data.absoluteValue | fyCurrency:currency() }}</span>

                        <span class="kpi-sub-value">
                            ON {{ dataRanges().lastDateInDataRange | fyDate }}
                        </span>
                    </div>
                }
            </mat-card-content>
        </mat-card>

        <mat-card class="kpi-card"
                  [class.positive]="data.dateRange.growthAbsolute > 0"
                  [class.negative]="data.dateRange.growthAbsolute < 0">
            <mat-card-header>
                <mat-card-subtitle>GROWTH ABS.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                @if (hideAbsoluteValues()) {
                    <app-obfuscated-kpi></app-obfuscated-kpi>
                } @else {
                    <div class="kpi-value-container">
                        <span class="kpi-value">
                            {{ data.dateRange.growthAbsolute > 0 ? '+' : '' }}{{ data.dateRange.growthAbsolute | fyCurrency:currency() }}
                        </span>

                        <span class="kpi-sub-value">
                            SINCE {{ dataRanges().firstDateInDataRange | fyDate }}
                        </span>
                    </div>
                }
            </mat-card-content>
        </mat-card>

        <mat-card class="kpi-card"
                  [class.positive]="data.dateRange.growthRelative === 'infinity' || data.dateRange.growthRelative >= 0"
                  [class.negative]="data.dateRange.growthRelative !== 'infinity' && data.dateRange.growthRelative < 0">
            <mat-card-header>
                <mat-card-subtitle>GROWTH REL.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="kpi-value-container">
                    <span class="kpi-value">
                      @if (data.dateRange.growthRelative === 'infinity') {
                          ∞
                      } @else {
                          {{ data.dateRange.growthRelative >= 0 ? '+' : '' }}{{ data.dateRange.growthRelative | fyPercent }}
                      }
                    </span>

                    <span class="kpi-sub-value">
                        SINCE {{ dataRanges().firstDateInDataRange | fyDate }}
                    </span>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="kpi-card"
                  [class.positive]="xirr() >= 0"
                  [class.negative]="xirr() < 0">
            <mat-card-header>
                <mat-card-subtitle>XIRR</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="kpi-value-container">
                    <span class="kpi-value">
                        {{ xirr() | fyPercent:'1.2-2':true }}
                    </span>

                    <span class="kpi-sub-value">
                        SINCE {{ dataRanges().firstDate | fyDate }}
                    </span>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="kpi-card">
            <mat-card-header>
                <mat-card-subtitle>CASH POSITION</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="kpi-value-container">
                    @if (hideAbsoluteValues()) {
                        <app-obfuscated-kpi></app-obfuscated-kpi>
                    } @else {
                        <span class="kpi-value">{{ data.cashPosition | fyCurrency:currency() }}</span>
                    }

                    <span class="kpi-sub-value">
                        @if (data.cashPositionRelativeToAbsoluteValue === 'infinity') {
                            ∞
                        } @else {
                            {{ data.cashPositionRelativeToAbsoluteValue | fyPercent }}
                        }
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
}
