.wrapper {
  display: flex;
  align-items: center;
}

.search-field {
  align-self: flex-end;
  width: 100%
}

.depot-option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 0.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  display: inline-block;
}

.margin-right {
  margin-right: 1rem;
}

.selected-count {
  opacity: 0.75;
  font-size: 0.75rem;
}