<div class="wrapper">
    @if (dataSources().length === 0) {
        <p>No Dividend Announcement Data Sources available!</p>
    } @else {
        <div>
            <mat-form-field class="full-width">
                <mat-label>Data Source</mat-label>
                <mat-select [formField]="dividendAnnouncementConfigForm.dataSourceId">
                    @for (ds of dataSources(); track ds.id) {
                        <mat-option [value]="ds.id">
                            {{ ds.name }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>External Security ID</mat-label>
                <input [formField]="dividendAnnouncementConfigForm.externalSecurityId"
                       matInput
                       type="text">
            </mat-form-field>

            <div class="checkbox-row">
                <mat-checkbox [formField]="dividendAnnouncementConfigForm.isActive">
                    Active
                </mat-checkbox>
            </div>
        </div>
    }
</div>
