<div class="dividend-announcement-container">
    <div class="dividend-announcement-icon">
        <tq-icon [src]="dividendAnnouncement().securityId | securityLogoUrl">
        </tq-icon>
    </div>

    <div>
        <span matListItemTitle>
            {{ dividendAnnouncement().securityId | securityName }}
        </span>
        <span matListItemLine>
            {{ dividendAnnouncement().payDate | tqDate }}
        </span>
        <span matListItemLine>
            {{ dividendAnnouncement().amountPerShare | tqCurrency : dividendAnnouncement().currency : '1.2-5' }}&nbsp;per&nbsp;share
        </span>
    </div>
</div>
