.wrapper {
  margin-top: 1rem;
}

.position-view-container {
  width: 100%;
}

.position-page-menu {
  display: flex;
  justify-content: flex-start;
}

.position-page-menu-item {
  margin-right: 1rem;
}

.screenshot {
  padding: 1rem;
}