<div class="wrapper">
    <div mat-menu-item>
        <div class="dividend-announcement-container">
            <div class="dividend-announcement-icon">
                <fy-icon [src]="dividendAnnouncement().securityId | securityLogoUrl"></fy-icon>
            </div>
            <div class="dividend-announcement-text">
                <div>{{ dividendAnnouncement().securityId | securityName }}</div>
                <div>{{ dividendAnnouncement().payDate | fyDate }}</div>
                <div>
                    {{ dividendAnnouncement().amountPerShare | fyCurrency : dividendAnnouncement().currency : '1.2-5' }}&nbsp;per&nbsp;share
                </div>
            </div>
            <span class="spacer"></span>
            <app-acknowledge-button class="acknowledge-button"
                                    (onAcknowledge)="acknowledge($event)">
            </app-acknowledge-button>
        </div>
    </div>
</div>