@let availableDataSources = dataSources();
@if (availableDataSources.length > 0) {
    <form>
        <mat-slide-toggle [formField]="form.isActive"
                          class="form-field"
                          color="primary"
                          name="isActive">
            {{ form.isActive().value() ? 'Enabled' : 'Disabled' }}
        </mat-slide-toggle>

        <mat-form-field class="form-field">
            <mat-label>Data Source</mat-label>
            <mat-select [formField]="form.dataSourceId">
                @for (source of dataSources(); track source.id) {
                    <mat-option [value]="source.id">
                        {{ source.name }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>External Security ID</mat-label>
            <input [formField]="form.externalSecurityId"
                   matInput>
        </mat-form-field>
    </form>
} @else {
    <p>No Data Sources available.</p>
}

