<mat-button-toggle-group>
    <mat-button-toggle (click)="setDataRange('max')"
                       [checked]="dataRange() === 'max'">
        Max
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('ytd')"
                       [checked]="dataRange() === 'ytd'">
        YTD
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('1w')"
                       [checked]="dataRange() === '1w'">
        1W
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('1m')"
                       [checked]="dataRange() === '1m'">
        1M
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('3m')"
                       [checked]="dataRange() === '3m'">
        3M
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('6m')"
                       [checked]="dataRange() === '6m'">
        6M
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('1y')"
                       [checked]="dataRange() === '1y'">
        1Y
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('2y')"
                       [checked]="dataRange() === '2y'">
        2Y
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('3y')"
                       [checked]="dataRange() === '3y'">
        3Y
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('5y')"
                       [checked]="dataRange() === '5y'">
        5Y
    </mat-button-toggle>

    <mat-button-toggle (click)="setDataRange('10y')"
                       [checked]="dataRange() === '10y'">
        10Y
    </mat-button-toggle>
</mat-button-toggle-group>
