@use '@angular/material' as mat;
@use '../../../../styles' as styles;

.input {
  max-width: 5rem;
  background-color: gray;
  color: white;
  border: 0.15rem solid mat.get-theme-color(styles.$fynancials-theme, primary);
  border-radius: 0.625rem;
  padding: 0 0.5rem;
  outline: none;
}