@let pos = position();
@let income = positionIncome();

<div class="position-item"
     (click)="openLotsDialog()">
    <fy-icon class="margin-right"
             [src]="pos.securityIds[0] | securityLogoUrl">
    </fy-icon>

    <h3 class="margin-right"
        style="width: calc(30% - 4rem);">
        {{ pos.displayName }}
    </h3>

    <div class="position-item-column margin-right"
         style="width: 20%;">
        <h4>
            {{ (useBuyIn() ? pos.buyInRelative : pos.currentSizeRelative) / 100 | fyPercent }}
        </h4>
    </div>

    @if (!hideAbsoluteValues()) {
        @let absolute = useBuyIn() ? pos.buyInAbsolute : pos.currentSizeAbsolute;
        <div class="position-item-column margin-right"
             style="width: 20%;">
            <h4>
                {{ absolute | fyCurrency:depotCurrency() }}
            </h4>
            <h5 class="sub-value">
                {{ pos.count | fyDecimal:'1.0-10' }} x {{ absolute / pos.count | fyCurrency:depotCurrency() }}
            </h5>
        </div>
    }

    <div class="position-item-column margin-right"
         style="width: 15%;">
        @if (hideAbsoluteValues()) {
            <h4 [class]="pos.relativePerformance >= 0 ? 'performance-positive' : 'performance-negative'">
                @if (pos.buyInAbsolute === 0) {
                    +&infin;
                } @else {
                    {{ pos.relativePerformance >= 0 ? '+' : '' }}{{ (pos.relativePerformance / 100) | fyPercent }}
                }
            </h4>
        } @else {
            <h4 [class]="pos.absolutePerformance >= 0 ? 'performance-positive' : 'performance-negative'">
                {{ pos.absolutePerformance >= 0 ? '+' : '' }}{{ pos.absolutePerformance | fyCurrency:depotCurrency() }}
            </h4>
            <h5 [class]="pos.relativePerformance >= 0 ? 'performance-positive' : 'performance-negative'">
                @if (pos.buyInAbsolute === 0) {
                    +&infin;
                } @else {
                    {{ pos.relativePerformance >= 0 ? '+' : '' }}{{ (pos.relativePerformance / 100) | fyPercent }}
                }
            </h5>
        }
    </div>

    @if (income != null) {
        @let netIncome = income.absoluteValueNet;
        @let netIncomeClass = netIncome >= 0 ? 'performance-positive' : 'performance-negative';
        @let transactionCount = income.transactions.length;
        <div class="position-item-column margin-right"
             style="width: 15%"
             [matTooltip]="'Net Income (' + (transactionCount | fyDecimal:'1.0')
                           + ' transaction' + (transactionCount === 1 ? '' : 's') + ')'">
            @if (hideAbsoluteValues()) {
                <h4 [class]="netIncomeClass">
                    @if (pos.buyInAbsolute === 0) {
                        +&infin;
                    } @else {
                        {{ netIncome >= 0 ? '+' : '' }}{{ (netIncome / pos.buyInAbsolute) | fyPercent }}
                    }
                </h4>
            } @else {
                <h4 [class]="netIncomeClass">
                    {{ netIncome >= 0 ? '+' : '' }}{{ netIncome | fyCurrency:depotCurrency() }}
                </h4>
                <h5 [class]="netIncomeClass">
                    @if (pos.buyInAbsolute === 0) {
                        +&infin;
                    } @else {
                        {{ netIncome >= 0 ? '+' : '' }}{{ (netIncome / pos.buyInAbsolute) | fyPercent }}
                    }
                </h5>
            }
        </div>
    } @else {
        <div style="width:15%">
        </div>
    }
</div>
