<div class="wrapper">
    <div class="content">
        <app-warn-icon class="icon"></app-warn-icon>
        <p>Are you sure you want to delete {{ dataSource.name }}?</p>
    </div>

    <div class="button-group">
        <button (click)="delete()"
                mat-flat-button
                color="warn">
            Delete
        </button>
        <button (click)="cancel()"
                mat-stroked-button
                color="primary">
            Cancel
        </button>
    </div>
</div>