@if (backendAvailable()) {
    <app-header class="app-header"></app-header>
    <mat-drawer-container class="app-body">
        <mat-drawer [opened]="sideMenuOpen()"
                    mode="side">
            <div class="menu-item"
                 [class.selected]="openPage() === 'securities'"
                 (click)="selectPage('securities')"
                 routerLink="/securities">
                <mat-icon fontIcon="description"
                          class="menu-item-icon">
                </mat-icon>
                Securities
            </div>

            <div class="menu-item"
                 [class.selected]="openPage() === 'dividends'"
                 (click)="selectPage('dividends')"
                 routerLink="/dividends">
                <mat-icon fontIcon="payments"
                          class="menu-item-icon">
                </mat-icon>
                Dividends
            </div>

            <div class="menu-item"
                 [class.selected]="openPage() === 'depots'"
                 (click)="selectPage('depots')"
                 routerLink="/depots">
                <mat-icon fontIcon="trending_up"
                          class="menu-item-icon">
                </mat-icon>
                Depots
            </div>

            <div class="menu-item"
                 [class.selected]="openPage() === 'settings'"
                 (click)="selectPage('settings')"
                 routerLink="settings">
                <mat-icon fontIcon="settings"
                          class="menu-item-icon">
                </mat-icon>
                Settings
            </div>
        </mat-drawer>
        <mat-drawer-content class="page-content">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
} @else {
    <app-splash-screen></app-splash-screen>
}
